*{
    box-sizing: border-box;
}

/* Responsive */
@media(max-width:400px){

    .topbar{
        flex-direction: column;
    }

    header{
        display: block;
    }
    .items{
        min-width: 60px;
        padding: 10px;
        position: absolute;
        right: 0px;
        margin: 0px;
    }
    section{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }

   .birdimg{
       width: 100%;
   }

   /* .main .d1, .d2{
    width: 100%;
    height: auto;
    } */
    .main{
        flex-direction: column;
    }
   .topbar #socialmedia a i{
       flex-direction: column;
   }


}
/* End of Media Query */

iframe{
    width: 100%;
    height: auto;
}

.topbar{
    background-color: rgb(231, 93, 14);
    height: 50px;
 
}
#socialmedia a i{
    padding: 15px;
}
#socialmedia i{
    font-size: 20px;
}

header{
    position: sticky;
   top: 0%;
}
/* Nav bar CSS */
nav{
    background-color: rgb(27, 122, 122);
   
 
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{   
    display: inline-block; 
    padding: 20px;
    font-size:20px;
    height: 70px;
 }   


a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}

nav ul li a i{
    color:honeydew;
    padding-right: 15px;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(219, 172, 111);
}
.items{
    display: none;
    position: absolute;
    padding: 20px;
    background-color: coral;
    min-width: 160px;
}

.dropdown:hover .items{
    display: block;
}

.items a{
    display: block;
    padding: 5px
}
.items a:hover{
    background-color: crimson;
}

/* Index page design */

section{
    display: flex;
}
.div1{
    background-color: gray;
    flex: 6;
}
.div2{
    background-color: rgb(177, 223, 177);
    flex: 4;
}

.main{
    display: flex;
    /* padding: 0 10px 10px 10px; */
}
.d1{
    flex: 1;
    /* border: 3px solid red; */
}
.d1 iframe{
    padding-left: 20px;
    padding-bottom: 15px;
}
.d2 iframe{
    padding-left: 20px;
    padding-bottom: 10px;
}
.d2{
    flex:1;
}

p{
  padding-left: 10px;
  
}

.div3{
    background-color: khaki;
    flex: 3;
}
.div4{
    background-color: khaki;
    flex: 7;
}
.div2 h2, .div4 h2{
    padding-left: 10px;
}

.div3 img{
    padding: 0 10px 10px 10px;
    border-radius: 90%;
}

/* Footer */

footer{
    display: flex;
    border-top: 3px solid red;
}

.footerdiv{
    flex:1;
    background-color: rgb(88,88,88);
}
.about, .map{
    flex: 1;
    background-color: rgb(88,88,88);
    color: whitesmoke;
}
.footerdiv ul {
    font-size: 20px;
    list-style-type: none;
}
.footerdiv ul a{
    color:rgb(255, 255, 255);
}
.footerdiv p{
    padding-left: 30px;
    color: whitesmoke;
}
.footerdiv a{
    color: whitesmoke;
}


/* About us page css */
.aboutus{
    /* background-color: yellowgreen; */
    background-color:whitesmoke;
    height: 400px;
}
.aboutus h2{
    padding: 10px;
}

.aboutus #myimg{
    float: right;
    border-radius: 80%;
    margin-right: 15px;
    border: 3px solid yellowgreen;
}

/* Skills  */
.skills{
    background-color: rgb(219, 183, 152);
    height: 600px;
    padding: 20px;
    color:crimson;
    font-size: 20px;
    font-family:segoe UI ;
    flex: 1;
}


/* Contact */
.formflex{
    display: flex;
    border-bottom: 3px solid orange;
    justify-content: center;
    position: relative;
    width:100%;
  
  }
  .formflex::before{
    content: "";
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 
    position: absolute;
 
  
  }
  
  .flexbody{
    padding:20px;
    margin :10px;
    margin-top:10px;
    flex-basis: 40%;
  }
  .contactcon{
    margin-bottom:10px;
  
  }
  .contactcon label{
    display:inline-block;
    width:100%;
    margin-bottom: 5px;
  
  }
  .contactcon input{
    height: 30px;
    width: 100%;
    padding:5px;
  }
  .contactcon textarea{
    width: 100%;
    height: 60px;
    padding:5px;
  
  }
  .flexbody button{
     width:100%;
     height:30px;
     background: rgb(174, 189, 54);
     border:0xp;
  }
  